@import "tailwindcss";


body {
  background: #191919;

  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;


}




nav
{
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 3px solid #2C2C2C;

  
 
 
  height: 80px;
  color: aliceblue;

}



button
{
  padding: 20px;

}

.links
{
  position: absolute;
  top: 0;
  right: 0;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(117, 117, 117, 0.2);
  


}


  
  

.type
{
  padding: 40px;
  color: aliceblue;
  font-size:  100px;
}

.parentoftype
{
  display: flex;
  justify-content: center;

}

.leftside>img
{
  width: 300px;
  position: absolute;
  top:5px;
  left:40px

}

.rightside
{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top:9px;
  right:40px
}

@media (hover: hover) {
  
  .rightside>*:hover {
    color: #8354f6;
  }



}



.leftside
{
  display: flex;
  justify-content: flex-start;
  
}


.elfsight-app-6ef1d95f-365f-4f02-95b1-662c38373e81
{
  position:absolute;
  width: 200px;
}


#news
{
  background-color: #202020;
}


.boxes
{
  display: flex;
  justify-content: space-around;

}
.cock {
  position: absolute;
  top: 10px;
  left:20%;
  z-index: -1;
  opacity: 50%;
}
@media (max-width:600px) {
  .parentoftype {
    font-size: 0.5em;
  }

}
